%header#header
  %nav#global.navbar
    .navbar-inner
      .container
        .nav-collapse
          - if params[:controller] == "home"
            %h1.brand.home_logo= link_to t('256interns'), root_path
          - else
            %h1.brand.logo= link_to t('256interns'), root_path
          %ul.nav.pull-right
            - if current_user
              %li.me
                = link_to current_user do
                  = gravatar_tag current_user, size: 20
                  = current_user.login_name
              %li{(controller_name == 'users' and action_name == 'index') ? { class: 'active' } : {}}
                = link_to users_path do
                  %i.icon-user
                  = t('users')
              %li{controller_name == 'practices' ? { class: 'active' } : {}}
                = link_to practices_path do
                  %i.icon-tasks
                  = t('practices')
            - if current_user
              %li.login.logined
                = link_to logout_path do
                  %i.icon-off
            - else
              %li.login.logouted
                = link_to login_path do
                  %i.icon-off
