!!!
%html
  %head
    - page_title = yield :title
    %title= (page_title.present? ? "#{page_title} - " : '') + t('256interns')
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    :javascript
      I18n.locale = '#{I18n.locale}'
      I18n.fallbacks = true
    :javascript
      $(function(){
        $(.simple_form).css3form();
      });
  %body{class: "#{controller_name}_#{action_name}"}
    = render 'alert'
    = render 'nav'
    #body
      #page_title
        .container
          %h1= yield :page_title
      .container
        = yield
    %footer#footer
      ©
      = link_to 'FJORD, LLC', 'http://fjord.jp'
